.name{
    align-content: flex-end;
    padding-bottom: 2em;
    background-image: linear-gradient(50deg, rgb(1, 20, 14), rgba(4, 37, 4, 0.199)), url("../assets/lobby.avif");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center;
    background-size: contain, cover;
    width: 98vw;
    padding-left: 0.5em;

    .type{
        color: aliceblue;
    }
    .tp{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: 80%;
        
    }
}